<div class="col-2">
    <div class="d-flex flex-column flex-shrink-0 p-3 menu">
        <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="title">InteGrity</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{url_for('index')}}" class="nav-link active lista" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Registro
                </a>
            </li>
            <li>
                <a href="#" class="nav-link lista">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Lista Negra
                </a>
            </li>
            <li>
                <a href="#" class="nav-link lista">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Usuarios
                </a>
            </li>
        </ul>
        <hr>
        
    </div>
</div>
